@import "tailwindcss";

@theme {
  --color-gold: #D4AF37;
  --color-background: #050505;
  --color-foreground: #F3F4F6;
}

/* تنظیم رنگ پس‌زمینه پیش‌فرض کل سایت به مشکی */
body {
  background-color: var(--color-background);
  color: var(--color-foreground);
}